#Portfolios {
  display: flex;
  min-height: 100vh;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 60px;
  gap: 40px;

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 170px 0px 170px;
  }

  .foot {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .head {
      padding: 40px 50px 0px 50px; 
    }
  }

  @media screen and (max-width: 768px) {
    padding: 20px 0;
    
    .head {
      flex-direction: column;
      padding: 0px 20px;
      margin-bottom: 20px;
    }

    .foot {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 20px;
    }
  }
}
