/* Global Styles */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;

}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7E74F1;
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background-color: initial;
}


code {
  font-family: "Inter", monospace;
}